#glassesGirl {
    width: 200px;
    height: auto;
    margin: 0 auto;
    }

#alter {
  font-family: "Segoi UI", sans-serif;
  text-align: center;
  }

div {
  height: 500px;
  width: 600px;
  background: lightblue;
  margin: 0 auto;
}

  #whereMyGlasses {
    width: 200px;
    height: auto;
    margin: 0 auto;
    display: none;

  }
